# Dependencies & lockfiles
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build output
**/dist
**/build
**/.next
**/.turbo

# Generated code
**/convex/_generated
**/routeTree.gen.ts
**/next-env.d.ts
